@using System.Data.SqlClient
@using System.Data
@using HealthInformationSystemInterface.App_Code




@{
    Layout = "layout.cshtml";
}

@section menu {
    @helpers.menu("/")
}

@section title {
    @(": Registration")
}

@if (IsPost)
{
    DbUtil.addFromForm(Request.Form, "ailment");

    <h1>Welcome @Request.Form["username"] please add patient details</h1>
    
  } else 
  {
    <div class="row collapse">
        <div class="small-6 small-centered columns">
            <h1>Registration</h1>
        </div>
    </div>
    <form  method="post">
        <div class="row">
            <div class="small-6 small-centered columns">
                <input type="text" placeholder="Username" name="username" id="username" required />
            </div>
        </div>
        <div class="row">
            <div class="small-6 small-centered columns">
                <input type="text" placeholder="Email" name="email" required />
            </div>
        </div>
        <div class="row">
            <div class="small-6 small-centered columns">
                <input type="password" placeholder="Password" name="password" required />
            </div>
        </div>
        <div class="row">
             <div class="small-6 small-centered columns">
                <select name="user_profile_levelID" required>
                    @{
                        var levels = DbUtil.getDataTable("SELECT name, user_profile_levelID as id from user_profile_level");
                        foreach (DataRow level in levels.Rows)
                        {
                            <option value="@level["id"]">@level["name"]</option>
                        }   
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="small-6 small-centered columns">
                <button class="button">Register</button>
            </div>
        </div>
    </form>
}